<div class="container">
 
    <div class="about-section">
      <h3>About</h3>
      <p>{{ aboutData.description }}</p>
      
    </div>
    <div class="info-section">
      <h3>Basic Information</h3>
      <ul class="list-unstyled">
        <li><strong>Age:</strong> {{ aboutData.age }}</li>
        <li><strong>Email:</strong> {{ aboutData.email }}</li>
        <li><strong>Phone:</strong> {{ aboutData.phone }}</li>
    
        <li><strong>Languages:</strong> {{ aboutData.languages}}</li>
      </ul>
    </div>
  </div>
