<!-- Header Section -->
<app-header></app-header>


<!-- About Section -->
<section id="about" class="section-box">
  <app-about></app-about>
</section>

<!-- Skills Section -->
<section id="skills" class="section-box">
  <app-skills></app-skills>
</section>

<!-- Portfolio Section -->
<section id="portfolio" class="section-box">
  <app-portfolio></app-portfolio>
</section>

<!-- Experiance Section -->
<section id="experiance" class="section-box">
  <app-experiance></app-experiance>
</section>

<!-- Contact Section -->
<section id="contact" class="section-box">
  <app-contact></app-contact>
</section>

<!-- Footer Section -->
<app-footer></app-footer>
